<footer>
    <div class="contato" id="contato">
        <div class="contato-title">
            <h2>Fale Comigo</h2>
        </div>

        <p class="form-p">Resta alguma dúvida ou Vamos trabalhar juntos?</p>
        <form action="https://formsubmit.co/ismaelmartins919@gmail.com" method="POST" class="form">
            <div class="container-input">
                <input type="text" name="name" placeholder="Nome" class="input" required>
            </div>
            <div>
                <input type="email" name="email" placeholder="Seu email" class="input" required>
            </div>
            <div>
                <textarea name="texto-de-contato" cols="30" rows="10" placeholder="Sua mensagem"
                    class="input"></textarea>
            </div>
            <div class="container-btn-form">
                <button class="footer-btn" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</footer>