<div class="skills" id="skills">
    <div class="titulo-padrao">
        <h2>skills</h2>
        <div class="titulo-linha"></div>
    </div>
    <div class="coluna-main">
        <div class="coluna-centralizada">
            <div class="coluna">
                <i class="fa-solid fa-palette"></i>
                <h3 class="colunm-title"> Front Skills </h3>
                <p class="colunm-p limite-paragrafo"> Valorizo uma estrutura simples, padrões de designs
                    limpos e
                    interações ponderadas, prezando a experiência de nossos clientes.</p>

                <p class="colunm-p2">Front-End Tools:</p>

                <p class="colunm-p">HTML, CSS, TypeScript, Dart</p>
                <div class="coluna-grupo3">
                    <p class="colunm-p2">Framework e Bibliotecas:</p>
                    <ul class="colunm-lista">
                        <li>Flutter</li>
                        <li>Blazor</li>
                        <li>Razor Pages</li>
                        <li>Angular</li>
                        <li>SASS</li>
                        <li>Provider</li>

                    </ul>
                </div>
                <button class="colunm-btn">Next Skill</button>
            </div>
            <div class="coluna">
                <i class="fa-solid fa-code"></i>
                <h3 class="colunm-title">Dev Skills</h3>
                <p class="colunm-p limite-paragrafo">
                    Tenho como principal objetivo a qualidade do código, seguindo o
                    padrão do mercado e otimizando a qualidade das respostas.</p>
                <p class="colunm-p2">Developer Tools:</p>
                <p class="colunm-p">C#, Transact-SQL</p>
                <div class="coluna-grupo3">
                    <p class="colunm-p2">Ferramentas e Frameworks:</p>
                    <ul class="colunm-lista">
                        <li>ASP.NET Core</li>
                        <li>Entity Framework</li>
                        <li>AutoMapper</li>
                        <li>JWT</li>
                        <li>SQL Server</li>
                        <li>MySQL</li>
                    </ul>
                </div>
                <button class="colunm-btn">Next Skill</button>
            </div>
            <div class="coluna">
                <i class="fa-solid fa-book-open-reader"></i>
                <h3 class="colunm-title">DevOps</h3>
                <p class="colunm-p limite-paragrafo">
                    Com 2 anos de Experiência, realizei o teste e deploy de diversos projetos, alguns deles
                    podem
                    ser visto no meu perfil do <a class="git" href="#"> GITHUB</a>.</p>
                <p class="colunm-p2">Práticas e Ferramentas:</p>
                <p class="colunm-p">CI/CD, GIT, Docker, Ubuntu</p>
                <div class="coluna-grupo3">
                    <p class="colunm-p2">Ferramentas:</p>
                    <ul class="colunm-lista">
                        <li>Azure App Services</li>
                        <li>GITHUB</li>
                        <li>Docker</li>
                        <li>WSL-2</li>
                        <li>RabbitMQ</li>
                        <li>Ubuntu</li>
                    </ul>
                </div>
                <button class="colunm-btn">Next Skill</button>
            </div>
        </div>
    </div>
    <div class="main-slide">
        <div class="splide carrosel" id="slide1">
            <h3 class="titulo-slide">Diferenciais</h3>
            <div class="splide__track slide-container">
                <ul class="splide__list">
                    <li class="primeira splide__slide">
                        <i class="fa-solid fa-code"></i>
                        <div>
                            <h2>Mobile</h2>
                            <p>Crio aplicativos para celular, utilizando sempre as melhores tecnologias do
                                mercado.
                            </p>
                        </div>
                    </li>
                    <li class="segunda splide__slide">
                        <i class="fa-solid fa-user-gear"></i>
                        <div>
                            <h2>Acessibilidade</h2>
                            <p>Meus layouts permitem a qualquer pessoa navegar, entender e
                                interagir com o
                                conteúdo de forma eficaz ao utilizá-lo.
                            </p>
                        </div>
                    </li>
                    <li class="terceira splide__slide">
                        <i class="fa-solid fa-user-gear"></i>
                        <div>
                            <h2>Responsividade</h2>
                            <p>Meus layouts funcionarão em qualquer tipo de dispositivo, grande, médio ou
                                pequeno,
                                tendo
                                como
                                principal objetivo a UX
                            </p>
                        </div>
                    </li>
                    <li class="quarta splide__slide">
                        <i class="fa-solid fa-lightbulb"></i>
                        <div>
                            <h2>Intuitivo</h2>
                            <p>Forte prefência por UX/UI Intuitivas e dinâmicas, com
                                interface limpa
                                e de
                                fácil entendimento</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div> <!-- Primeiro Slide FIM -->
        <div class="splide carrosel" id="slide2">
            <h3 class="titulo-slide">Diferenciais</h3>
            <div class="splide__track slide-container">
                <!-- OUTRO ID E CLASS -->
                <ul class="splide__list">
                    <li class="primeira splide__slide">
                        <i class="fa-solid fa-code"></i>
                        <div>
                            <h2>API's</h2>
                            <p>Como meu trabalho tem foco em construções de API's web, valorizo a
                                integridade e entrega dos dados, conforme a demanda.</p>
                        </div>
                    </li>
                    <li class="segunda splide__slide">
                        <i class="fa-solid fa-user-gear"></i>
                        <div>
                            <h2>Clean code</h2>
                            <p>Tenho como uma regra, escrever códigos bonitos e de fácil entendimento,
                                seguindo as boas práticas do mercado.
                            </p>
                        </div>
                    </li>
                    <li class="terceira splide__slide">
                        <i class="fa-solid fa-mobile-screen"></i>
                        <div>
                            <h2>Foco nas respostas</h2>
                            <p>Valorizo a velocidade e entrega das respostas, sempre observando a melhor
                                solução. </p>
                        </div>
                    </li>
                    <li class="quarta splide__slide">
                        <i class="fa-solid fa-lightbulb"></i>
                        <div>
                            <h2>Full-Stack</h2>
                            <p>Além de saber o Front-End e o Back-End, busco entender todo o ciclo de vida
                                da aplicação.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- Main Slide -->
</div> <!-- Skills -->