<div class="sobre" id="sobre">
    <div class="titulo-padrao">
        <h2>sobre</h2>
        <div class="titulo-linha"></div>
    </div>
    <div class="centralizar">
        <!-- SOLUÇÕES PARA TELAS SUPERIOR A 900PX INICIO -->
        <div class="box">
            <div class="circulo">
                <div class="text">
                    <h1>Ismael Martins</h1>
                    <p>Eu sou um Desenvolvedor Full-Stack e atualmente estagiário no Banco do Estado do
                        Pará(Banpará). Tenho familiaridade com SPA's, Apps Cross Platform e construções de API's REST.
                        <a href="#contato">Let's go work togheter?</a>
                    </p>
                    <a href="./doc/Curriculo - Vangeance.pdf" class="btn" target="_blank">Carregar
                        Currículo</a>
                </div>
            </div>
            <img loading="lazy" src="../../../assets/imgs/hexagono.png" alt="">
        </div>
        <h2 class="suporte-sobre">Passe o mouse em cima</h2>
        <!-- SOLUÇÕES PARA TELAS SUPERIOR A 900PX FIM -->
        <div class="sobre-mobile-container">
            <img loading="lazy" src="../../../assets/imgs/sobre-img.png" alt="" class="sobre-mobile-img">

            <h2 class="sobre-mobile-h2">Quem é esse cara?</h2>

            <div class="sobre-mobile-p">
                <p>Eu sou um Desenvolvedor Full-Stack e atualmente estagiário no Banco do Estado do
                    Pará(Banpará). Tenho familiaridade com SPA's, Apps Cross Platform e construções de API's REST.
                    <a href="#contato">Let's go work togheter?</a>
                </p>
            </div>
            <a href="./doc/Curriculo - Vangeance.pdf" class="sobre-btn-mobile" target="_blank">Carregar
                Currículo</a>
        </div>
    </div>
</div>
<!--Sobre-->