  <!-- PROJETOS INICIO -->
  <div class="projetos" id="portfolio">
    <div class="titulo-padrao">
        <h2>Portfólio</h2>
        <div class="titulo-linha line"></div>
    </div>
    <div class="projetos-card-main">
        <div class="projetos-card" id="projeto1">
            <button class="projetos-card-btn" id="projeto1">Ver mais</button>
        </div>
        <div class="projetos-card" id="projeto2">
            <button class="projetos-card-btn" id="projeto2">Ver mais</button>
        </div>
        <div class="projetos-card" id="projeto3">
            <button class="projetos-card-btn" id="projeto3">Ver mais</button>
        </div>
    </div>
</div>
<!-- PROJETOS FIM -->