<header>
    <div class="menu">
        <a href="#" class="logo"><img loading="lazy" src="../../../../assets/imgs/vangeanc3 2.png" alt=""></a>
        <div class="mobile-menu">
            <div class="linha1"></div>
            <div class="linha2"></div>
            <div class="linha3"></div>
        </div>
        <nav class="menu-navbar">
            <ul class="list">
                <li><a routerLink="" class="links">Inicio</a></li>
                <li><a routerLink="/pages/about" class="links">Sobre</a></li>
                <li><a routerLink="/pages/skills" class="links">Skills</a></li>
                <li><a routerLink="/pages/projects" class="links">Projetos</a></li>
                <li><a routerLink="/pages/contact" class="links">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>